Post::create([
    'tittle' => 'Programming itu mudah kedua',
    'category_id'=>1,
    'slug' => 'programming-itu-mudah-kedua',
    'author' => 'Ferdian H sssis',
    'excerpt' => 'lorem consectetur adipisicing elit',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam magni nemo est error nulla autem cum et, libero at beatae nesciunt dolorum aperiam temporibus soluta, velit dolores ducimus quaerat aspernatur.</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure labore iusto necessitatibus, est expedita ipsa, harum assumenda voluptas obcaecati omnis aliquam soluta in error hic optio quod dicta quidem officia id laudantium aspernatur! Iure temporibus accusamus cupiditate quisquam voluptatem sit vel ullam, aliquam eveniet expedita, nostrum deserunt neque! Labore, ut.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, velit!</p>'
])

Category::create([
'name' => 'Personal',
'slug' => 'personal'
])
